<div ng-if="LoggedRole == 'hr'">Hello {{LoggedUser}}</div> 
<div class="row">

	<div class="col-md-6 col-md-offset-3 wrapper">
	
	<form ng-submit="submit('#/details')">
		<div class="form-group">
		<input type="text" class="form-control nameField" ng-model="employee" placeholder="name, email, title or location of the employee"/>
		<a href="#/details" class="btn btn-primary">Get Details</a> 
		</div>
	</form>
	</div>
			<!-- Add Employee Form at the top. Resets its state on close and for the demo purpose adds employee record to the DOM  -->
			<button slide-toggle="#openMenu" class="btn btn-primary add" ng-if="LoggedRole == 'hr'" ng-click="closeAddMenu()">Add New Employee</button> 
			<div id="openMenu" class="slideable" >
			<form name="addEmpForm" ng-submit="addEmpSubmit()" novalidate>
				<table class="slideDownTable table">
					<tr>
						<td>** Name: </td>
						<td><input type="text" ng-model="empName" id="empName" name="empName" class="form-control" required /></td>
						<td>&nbsp;&nbsp;** Email:</td>
						<td><input type="email" ng-model="empEmail" id="empEmail" class="form-control" required /></td>
					</tr>
					<tr>
						<td>** Title: </td>
						<td><input type="text" ng-model="empTitle" id="empTitle"  class="form-control" required /></td>
						<td>&nbsp;&nbsp;** Location:</td>
						<td><input type="text" ng-model="empLocation" id="empLocation"  class="form-control" required /></td>
					</tr>
					<tr>
						<td>** Phone [Cell]: </td>
						<td><input type="text" ng-model="empMobile" id="empMobile"  class="form-control" required /></td>
						<td>&nbsp;&nbsp;Phone [Home]:&nbsp;</td>
						<td><input type="text" ng-model="empHome" id="empHome"  class="form-control" /></td>
					</tr>
					<tr>
						<td>Phone [Work]:</td>
						<td><input type="text" ng-model="empWork" id="empWork"  class="form-control" /></td>
						<td></td>
						<td>
						<div class="reqField">** Required Fields</div>
						<button class="btn btn-primary newAddBtn" ng-disabled="addEmpForm.$invalid" >Add</button>

						</td>
					</tr>
				</table>
				</form>
			</div>
	</div>
	<div >	             
	<table class="table table-striped">
        <thead>
            <tr>
                <th>Emp ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Job Title</th>
                <th>Location</th>
                <th class="last-column">Phone</th>
            </tr>
        </thead>
        
        <!-- I am using the infinite scroll plugin for pagination (or loading huge data) 
             1. Scrolls infintely over large data
             2. Loads data page wise
             3. Server also needs to be configured accordingly
             4. The infite scroll plugin have been tested to work effeciently with 100K records
             5. It loads data page wise. But page wise data has to come from server. To simulate the behavior I am just 
                iterating over the same set of data and loading it every time as a new page.
             *Note: I did not use traditional pagination because then the "search" and "data filter" would not work as I wanted
              But if the project requires we can always use the traditional previous next pagination for loading huge data 
              page wise.  
         -->
        <tbody  id="mainBody"  infinite-scroll="LoadDetails()" infinite-scroll-distance="0" infinite-scroll-disabled='busyLoadingData'>
        <tr ng-repeat="employee in empList | filter:employee" >
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.title}}</td>
                <td>{{employee.location}}</td>
                <td><ul><li ng-repeat="entry in employee.phone">{{entry.type}}:  {{entry.number}}</li></ul></td>
                <td ng-if="LoggedRole == 'hr'"><a href="#/edit" ng-model="empSelected" ng-click="editScreen(employee)">Edit</a> | <a href="#/" ng-click="removeEmp(employee.id)">Delete</a></td>
        </tr>

        </tbody>
        
     </table>
            <!-- Indicator shown while waiting to load data -->
     	    <div ng-show="loader.loading" class="loading"><img src="loading_spinner.gif" /></div>
     		<br />
     		<!-- Message when no records are available -->
             <h2 ng-show="!(empList | filter:employee).length" class="text-center" id="noRec">No Records to Show</h2>
    </div>
